.view-items {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;

  .page-title {
    margin-bottom: 20px;
  }

  .item-total-info,
  .item-total-info-skeleton {
    margin-bottom: 16px;
  }

  .item-total-info-skeleton {
    width: 60px;
    height: 20px;
  }

  .pagination-skeleton {
    margin: 0 auto;
    width: 128px;
    height: 40px;
  }

  .item-card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 8px;
    margin-bottom: 16px;

    .item-card-skeleton {
      border-radius: 8px;
      width: 100%;
      height: 340px;
    }
  }
}
